.footer {
  background-color: #151F62;
  color: white;
  text-align: center;
}

a.footerlink,
a.footerlink:visited {
  text-decoration: none;
  font-weight: normal;
  color: #EEEEEE;
}

a.footerlink:hover {
  color: #F4E04D;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 30px 20vh;
    text-align: left;
  }
}