header {
    background-color: #9fd8ed;
    color: #01416f;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  
  .logo {
    vertical-align: middle;
    display: inline-block;
  }
  
  .title {
    vertical-align: middle;
    display: inline-block;
  }
  
  nav {
    vertical-align: middle;
    display: inline;
    padding-left: 100px;
  }
  
  nav > a,
  a:visited {
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  nav > a:hover {
      color: #f7941d;
  }