.header {
  background-color: #9fd8ed;
  color: #01416f;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.logo {
  vertical-align: middle;
  display: inline-block;
}

.title {
  vertical-align: middle;
  display: inline-block;
}

/* navigation menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #9fd8ed;
  overflow: hidden;
}

.menu {
  padding-right: 20px;
}

.menu a {
  display: block;
  padding: 15px;
  color: var(--white);
}

.menu a:hover {
  background-color: white;
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: var(--gray);
  }

  .hamb {
    display: none;
  }
}
