* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Untuk tampilan handphone: */
[class*="col-"] {
  float: left;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.3em;
  }

  .hero > div {
    margin-top: 40vh;
    padding: 0 20px;
    color: white;
  }
}

@media only screen and (min-width: 600px) {
  /* Untuk tablet: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* Untuk desktop: */

  body {
    font-size: 18px;
  }
  
  h1 {
    font-size: 1.5em;
  }

  .hero > div {
    margin-top: 50vh;
    padding: 0 20vw;
    color: white;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

body {
  max-width: max-content;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.hero {
  background: linear-gradient(to top, #00000073, #00000073), url(../img/pexels-cottonbro-6208699.jpg) no-repeat top center;
  background-size: cover;
  /* background: linear-gradient(to top, #3204fdba, #9907facc), url(https://picsum.photos/1280/853/?random=1) no-repeat center;   */
  height: 100vh;
}
