* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: max-content;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  margin-bottom: 8px;
}

a, a:visited {
  text-decoration: none;
  color: #151F62;
}

a:hover {
  color: #F18F01;
}

ul {
  list-style: none;
}

p {
  text-align:justify;
  word-spacing: -2px;
  word-break: break-word;
  text-justify: distribute;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 25px;
}

.row > div {
  margin: 10px;
  padding: 10px;
}

.row-bottom {
  padding-bottom: 0 !important;
}

.row-bottom > div {
  padding-bottom: 0;
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
  /* Untuk tampilan handphone: */
  body, .button {
    font-size: 14px;
  }

  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
    font-weight: 700;
  }

  h1, h2, h3 {
    text-align: center;
  }

  .hero > div {
    margin-top: 20vh;
    padding: 0 20px;
    color: white;
  }

  p {
    margin-bottom: 15px;
    text-align: center;
  }

  .row {
    flex-flow: column wrap;
  }

  .row-bottom {
    padding-bottom: 30px !important;
  }

  .after_bottom {
    margin-top: 0px !important;
  }

  .inside-box {
    padding: 30px 0 30px 0 !important;
  }
}

@media only screen and (min-width: 768px) {
  /* Untuk desktop: */

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .button {
    font-size: 20px;
  }

  .hero > div {
    margin-top: 35vh;
    padding: 0 15vw;
    color: white;
  }

  p {
    margin-bottom: 20px;
  }
}

.hero {
  background: linear-gradient(to top, #000000d5, #000000a6),
    url(../img/pexels-katerina-holmes-5905445.jpg) no-repeat bottom center;
  background-size: cover;
  height: 100vh;
}

.button {
  border-radius: 24px;
  background-color: #151F62;
  padding: 10px 24px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.button:hover {
  color: #151F62;
  background-color: #F18F01;
}

.button-submit {
  background-color: #9fd8ed;
}

.section-light {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-mid {
  background-color: #787A91 !important;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-dark {
  background-color: #345995 !important;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.div-wrapper {
  height: 160px;  
  display: table-cell;
}

.div-wrapper img {
  vertical-align: bottom;
  max-width: 150px;
}

.block-light {
  background-color: white;
  border-radius: 16px;
  color: #345995;
  text-align: justify;
  border-radius: 6px;
  margin: 0px 10px 10px 10px;
  padding: 30px !important;
}

.block-mid {
  background-color: #787A91;
  border-radius: 16px;
  color: white;
  text-align: justify;
  margin: 0px 10px 10px 10px;
  padding: 30px !important;
}

.block-dark {
  background-color: #345995;
  border-radius: 16px;
  color: white;
  text-align: justify;
  margin: 0px 10px 10px 10px;
  padding: 30px !important;
}