* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: #151F62;
}

a:hover {
  color: #F18F01;
}

ul {
  list-style: none;
}

.row {
  padding: 25px;
}

.row-bottom {
  padding-bottom: 0 !important;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  width: 100%;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  /* Untuk tampilan handphone: */
  body, .button {
    font-size: 14px;
  }

  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
    font-weight: 700;
  }

  .hero > div {
    margin-top: 20vh;
    padding: 0 20px;
    color: white;
  }

  p {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 600px) {
  /* Untuk tablet: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  p {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  /* Untuk desktop: */

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .button {
    font-size: 20px;
  }

  .hero > div {
    margin-top: 35vh;
    padding: 0 15vw;
    color: white;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  p {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .row {
    padding-left: 20vh;
    padding-right: 20vh;
  }
}

body {
  max-width: max-content;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.hero {
  background: linear-gradient(to top, #000000d5, #000000a6),
    url(../img/pexels-cottonbro-6208699.jpg) no-repeat top center;
  background-size: cover;
  height: 100vh;
}

.button {
  border-radius: 6px;
  background-color: #151F62;
  padding: 10px 24px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.button:hover {
  color: #F18F01;
}

.button-submit {
  background-color: #9fd8ed;
}

.section-light {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-mid {
  background-color: #787A91;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-dark {
  background-color: #345995;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.div-wrapper {
  height: 160px;  
  vertical-align: bottom;
  display: table-cell;
}

.div-wrapper img {
  vertical-align: bottom;
}

.block-light {
  background-color: white;
  border-radius: 6px;
  color: #345995;
  text-align: center;
  border-radius: 6px;
  margin: 0px 10px 10px 10px;
  padding: 30px;
}

.block-mid {
  background-color: #787A91;
  border-radius: 6px;
  color: white;
  text-align: center;
  margin: 0px 10px 10px 10px;
  padding: 30px;
}

.block-dark {
  background-color: #345995;
  border-radius: 6px;
  color: white;
  text-align: center;
  margin: 0px 10px 10px 10px;
  padding: 30px;
}